@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
em {
	font-style: normal;
}
/*数据统计滚动*/
.product-number-info {
	position: relative;
	background-color: rgb(68, 187, 241);
}
.product-number-info .product-number-inner {
	width: 1200px;
	margin: 0 auto;
}
.product-number-info ul {
	/* 高度  */
	padding: 75px 0;
}
.product-number-info ul.q:after {
	content: "";
	clear: both;
	display: table;
}
.product-number-info li {
	float: left;
	width: 239px;
	height: 90px;
	border-left: 1px solid #3c3c3c;
	/* 字体颜色 无法生效 与右边浮动联系冲突 */
	color: #fff;
	padding-top: 1px;
}
.product-number-info li:first-child {
	border: none;
}
.product-number-info li b {
	font-weight: 400;
	font-size: 36px;
	line-height: 1;
	display: inline-block;
	position: relative;
	margin: 15px 0 10px;
}
.product-number-info li b i {
	font-style: normal;
}
.product-number-info li b sup {
	position: absolute;
	font-size: 20px;
	right: -15px;
	top: -3px;
}
.product-number-info li b em {
	font-style: normal;
	font-size: 28px;
	font-weight: 100;
	padding-left: 2px;
	position: relative;
	top: -4px;
}
.product-number-info li p {
	font-size: 14px;
}
.product-number-info li.li-2 b, .product-number-info li.li-2 p {
	padding-left: 70px;
}
.product-number-info li.li-3 b, .product-number-info li.li-3 p {
	padding-left: 70px;
}
.product-number-info li.li-3 b, .product-number-info li.li-3 p {
	padding-left: 70px;
}
.product-number-info li.li-4 b, .product-number-info li.li-4 p {
	padding-left: 78px;
}
.product-number-info li.li-5 {
	text-align: right;
}
.product-number-info li.li-5 b {
	padding-right: 2px;
}
